body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Content Start */
.container {
    width: 100%;
    height: 600px;
    padding: 60px;
    display: flex;
    flex-direction: row;
    margin-left: calc(50% - 500px);
}
.bg-img {
        width: 100%;
        background-image: url(./);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
.left-column {
    width: 350px;
    height: 500px;
    margin-top: 50px;
    align-items: center;
    text-align: center;
    display: block;
    position: relative;
}
.left-column > h1 {
    font-size: 50px;
    position: absolute;
    top: 50px;
    left: 50px;
}
.left-column > a {
    font-size: 14px;
    position: absolute;
    bottom: 50px;
    right: 50%;
    transform: translateX(50%);
    display: inline;

}
.right-column {
    width: 400px;
    height: 600px;
    background-color: rgb(145, 255, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.form {
    padding: 20px;
}
.initialize {
    display: inline-block;
    padding: 20px;
}
.btn {
    padding: 5px 15px;
    border: 1px solid blue;
    background-color: blue;
    border-radius: 5px;
    color: #fff;

}

/* content end */